.blog-content {
    padding: 40px;
    height: 100%;
}

.blog-content ul li a {
    font-weight: 700;
    display: block;
    margin-bottom: 0.2rem;
}

.blog-content h1 {
    margin-top: 12px;
}

.blog-content h3 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.blog-content h4, .blog-content h5 {
    margin-top: 2px;
    margin-bottom: 0;
}

.blog-content .btn-outline-primary {
    margin-top: 4px;
}

.blog-content h2 {
    font-style: italic;
}