.experience {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience>h2 {
    font-weight: bold;
}

.experience-item {
    justify-items: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media screen and (max-width: 991px) {
    .experience-item {
        gap: 20px;
        margin: 0px;
    }
}

.experience-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ccc;
}

.experience-item-content>h6 {
    font-weight: 200;
    font-size: 1em;
}

.experience-item-content {
    display: flex;
    flex-direction: column;
}