.experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience>h2 {
    font-weight: bold;
}

.experience-item {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 50px;
    position: relative;
}

.experience-item-content>h6 {
    font-weight: 200;
    font-size: 1em;
}

.experience-item-content {
    display: flex;
    flex-direction: column;
}
