.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project>h2 {
    font-weight: bold;
}

.project-item {
    justify-items: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media screen and (max-width: 991px) {
    .project-item {
        gap: 20px;
        margin: 0px;
    }
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ccc;
}

.project-item-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.project-item-content>.btn {
    width: 100px;
    text-align: center;
    cursor: unset;
}

.project-item-content-title-tech {
    min-height: 30px;
    max-height: min-content;
    margin: 0;
    text-align: center;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.project-item-content-title-tech > div{
    cursor: unset;
}