.project {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project>h2 {
    font-weight: bold;
}

.project-item {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 50px;
    position: relative;
}

.project-item-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.project-item-content>.btn {
    width: 100px;
    text-align: center;
    cursor: unset;
}

.project-item-content-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project-item-content-title > p{
    height: 30px;
    padding: 0 7px;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    cursor: unset;
}