.htmlPreview {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    height: 460px;
}

.htmlPreview .codePane{
    height: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.htmlPreview .codePane pre{
    font-size: 14px;
    height: 100%;
    margin: 0;
}

.htmlPreview iframe {
    width: 100%;
    height: 100%;
}

.codePane pre{
    width: 100%;
}

.copy-btn {
  position: absolute;
  top: 6px;
  right: 14px;
  z-index: 2;

  font-size: 12px;
  padding: 4px 8px;
  cursor: pointer;
}